.item-card-space {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border: 1px solid lightgray;
}

.character-picture {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 1px solid lightgray;
}