.item-card-space {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border: 2px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-picture {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 2px solid lightgray;
}

.cell-sized {
  width: 200px;
}

.context-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary;
  color: white;
  z-index: 3;
  border-radius: 4px;

  .menu-item {
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-content: center;

    &:hover {
      background-color: darken($primary, 10%);
      cursor: pointer;
    }
  }
}