* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  max-width: unset !important;
  text-align: unset !important;
  height: 100vh;
}

button:hover, a:hover {
  cursor: pointer;
}

.badge-version {
  position: fixed;
  bottom: 8px;
  right: 8px;
  color: #fff;
  opacity: 0.8;
}
