$primary: #4793AF;
$secondary: #FFC470;
$accent-1: #DD5746;
$accent-2: #8B322C;
$success: #198754FF;
$info: #0dcaf0FF;
$warning: #ffc107FF;
$danger: #dc3545FF;
$light: #f8f9faFF;
$dark: #343a40FF;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "accent-1": $accent-1,
        "accent-2": $accent-2,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

$radius: 20px;

$shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow-inner: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;